<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.viniciusalvesmello.restaurant.guide.coroutines.restaurants" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
